
* {
	font-family: 'Eagle Lake', cursive;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
/**{
	border: 1px solid red !important;
}*/
@media only screen and (max-width: 300px){
	p{
		background-color: blue;
	}
} 
.row{
	width: 100%;
	display: flex;
}	
.side{

	display: flex;
}

.head{
	display: flex;
}
.app{
	display: flex;
}
.image{
	max-width: 460px;
	margin-left: 20px;
}

.description{
	max-width: 705px;
	padding-left: 20px;
}
.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
 .btn:hover {
    background-color: black;
}
.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #ff00bf;
   color: white;
   text-align: center;
}

h3{
	text-align: center;
}
p{
	text-align: center;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 80.66;
}
.col-7{
	width: 60.66%;
}
.col-8{
	width: 25%;
}
.col-9{
	width: 70.33%;
}
.col-10{
	width: 80.66%;
}
.col-12{
	padding-top: 20px;
}
.here{
	background-image: url('../images/school.JPG');
	background-size: cover;
	background-position: center;
	height: 400px;
	width:100%;
	opacity: 0.5; filter: alpha(opacity=50);
}